@model List<DinoLoan.Entity.Book>

<h1>Library</h1>

<a class="btn btn-success mb-4" href="library/create">New</a>

<table class="table">
    <thead>
        <tr>
            <th class="col">#</th>
            <th class="col">Name</th>
            <th class="col">Author</th>
            <th class="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model){
        <tr>
            <th>@book.Id</th>
            <td>@book.Name</td>
            <td> @book.Author</td>
            <td>
                <a class="btn btn-warning" href="library/update/@book.Id">Update</a>
                <a class="btn btn-danger" href="library/delete/@book.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>