@model DinoLoan.Entity.Clientinfo

@{
    ViewData["Title"] = "Details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../client">Client</a></li>
        <li class="breadcrumb-item active">Details</li>
    </ol>
</nav>

<div class="row">

    <div class="form-group col-md-4 mt-3">
        <label>First Name</label>
        <input type="text" class="form-control" asp-for="FirstName" readonly>
    </div>

    <div class="form-group col-md-4 mt-3">
        <label>Middle Name</label>
        <input type="text" class="form-control" asp-for="MiddleName" readonly>
    </div>

    <div class="form-group col-md-4 mt-3">
        <label>Last Name</label>
        <input type="text" class="form-control" asp-for="LastName" readonly>
    </div>

    <div class="form-group col-md-9 mt-3">
        <label>Address</label>
        <input type="text" class="form-control" asp-for="Address" readonly>
    </div>

    <div class="form-group col-md-3 mt-3">
        <label>Zip Code</label>
        <input type="text" class="form-control" asp-for="ZipCode" readonly>
    </div>

    <div class="form-group col-md-5 mt-3">
        <label>Birthday</label>
        <input type="text" class="form-control" asp-for="Birthday" readonly>
    </div>

    <div class="form-group col-md-2 mt-3">
        <label>Age</label>
        <input type="text" class="form-control" asp-for="Age" readonly>
    </div>

    <div class="form-group col-md-6 mt-3">
        <label>Name of Father</label>
        <input type="text" class="form-control" asp-for="NameOfFather" readonly>
    </div>

    <div class="form-group col-md-6 mt-3">
        <label>Name of Mother</label>
        <input type="text" class="form-control" asp-for="NameOfMother" readonly>
    </div>

    <div class="form-group col-md-3 mt-3">
        <label>Civil Status</label>
        <input type="text" class="form-control" asp-for="CivilStatus" readonly>
    </div>

    <div class="form-group col-md-3 mt-3">
        <label>Religion</label>
        <input type="text" class="form-control" asp-for="Religion" readonly>
    </div>

    <div class="form-group col-md-3 mt-3">
        <label>Occupation</label>
        <input type="text" class="form-control" asp-for="Occupation" readonly>
    </div>

    <div class="form-group col-md-3 mt-3">
        <label>UserType</label>
        <input type="text" class="form-control" asp-for="UserType" readonly>
    </div>
</div>