<div class="modal" id="payLoanModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="Payment" method="post">
                    <div class="row">
                        <input type="hidden" name="Lid" id="loanId">
                        <input type="hidden" name="Pid" id="payId">
                        <div class="col-md-6">
                            <div class="card border-info mb-3">
                                <div class="card-header">
                                    <h5 class="card-title">Payments</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text" id="totalPayments">0.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-warning mb-3 ">
                                <div class="card-header">
                                    <h5 class="card-title">Remaining</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text" id="remainingPayments">0.00</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 mb-3">
                            <label>Amount to pay</label>
                            <input type="hidden" id="currentAmmount" name="Over">
                            <input type="number" id="amount" name="Amnt" class="form-control" placeholder="0">
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>