@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Dashboard</h1>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <h5 class="card-title">Borrowers</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">0.00</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">
                    <h5 class="card-title">User</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">0.00</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">
                    <h5 class="card-title">Collected Today</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">0.00</p>
                </div>
            </div>
        </div>
    </div>
</div>