@model IEnumerable<DinoLoan.Entity.Transaction>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="text-center">
                <th class="col">#</th>
                <th class="col">Amount</th>
                <th class="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tData in Model)
            {
                <tr>
                    <th>@tData.Id</th>
                    <td>@tData.Amount</td>
                    <td>@tData.Date.ToString("MMM dd yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
</div>